* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first {
    position: relative;
    width: 100%;
    height: 1280px;
    min-width: 1549px;
    background-color: #222533;
    margin-bottom: 0px;
}

.line1 {
    font-size: 30px;
    font-family: lato;
    line-height: 19px;
    letter-spacing: 9px;
    color: white;
    margin-bottom: 9px;
}

.psd {
    color: #1ABC9C;
}

.line2 {
    font-size: 60px;
    font-family: lato;
    line-height: 19px;
    color: white;
    font-weight: 900;
    margin-top: 1.6%;
    margin-bottom: 40px;
}

.line3 {
    font-size: 30px;
    font-family: lato;
    line-height: 36px;
    color: white;
    font-weight: 300;
    margin-bottom: 2.1%;
}

.core {
    background-color: transparent;
    border: 1px solid white;
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 10%;
}

.purchase {
    background-color: #1ABC9C;
    border: 1px solid #707070;
    position: relative;
    left: 4px;
    width: 200px;
    height: 60px;
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 10%;
}

.btn-text {
    color: white;
    font-size: 18px;
    font-family: lato;
    font-weight: 900;
}

.text {
    position: relative;
    top: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg1 {
    width: 86px;
    height: 14px;
}

.second {
    width: 100%;
    height: 90px;
    background-color: white;
    position: relative;
    min-width: 1549px;
    box-shadow: 0px 0px 10px 0px #707070;
}

.links>a {
    text-decoration: none;
    color: #A1B1BC;
    font-family: lato;
    font-size: 15px;
    margin-right: 43px;
}

.links {
    position: absolute;
    left: 682px;
    top: 35px;
    min-width: 850px;
    max-width: 1000px;
}

.svg2 {
    width: 40px;
    height: 45px;
}

.fox {
    font-family: lato;
    font-size: 35.69px;
}

.logo {
    display: flex;
    position: absolute;
    top: 24px;
    left: 375px;
}

.width {
    width: 17px;
}

.bold {
    font-weight: 900;
}

.third {
    position: relative;
    width: 100%;
    height: 436px;
}

.box1 {
    width: 270px;
    height: 210px;
    border: 1px solid #DBE7EF;
    position: absolute;
    top: 125px;
    left: 375;
    padding-top: 51px;
    padding-left: 35px;
    padding-right: 35px;
}

.box2 {
    width: 270px;
    height: 210px;
    border: 1px solid #DBE7EF;
    position: absolute;
    top: 125px;
    left: 675;
    padding-top: 51px;
    padding-left: 35px;
    padding-right: 35px;
}

.box3 {
    width: 270px;
    height: 210px;
    border: 1px solid #DBE7EF;
    position: absolute;
    top: 125px;
    left: 975;
    padding-top: 51px;
    padding-left: 35px;
    padding-right: 35px;
}

.box4 {
    width: 270px;
    height: 210px;
    border: 1px solid #DBE7EF;
    position: absolute;
    top: 125px;
    left: 1275;
    padding-top: 51px;
    padding-left: 35px;
    padding-right: 35px;
}

.third-1 {
    position: absolute;
    left: 39%;
    bottom: 85%;
}

.h {
    text-align: center;
    font-size: 18px;
    font-family: lato;
    font-weight: 700;
    line-height: 19px;
    color: #2C3E50;
    margin-bottom: 11px;
}

p {
    text-align: center;
    font-size: 14px;
    font-family: lato;
    color: #A1B1BC;
    text-align: center;
    line-height: 24px;
}

.fourth {
    width: 100%;
    height: 501px;
    background-color: rgba(236, 240, 241, 0.3);
    position: relative;
}

.svg4 {
    width: 543px;
    height: 275px;
    margin-left: 30px;
    margin-top: 30px;
}

.about {
    font-family: lato;
    font-size: 36px;
    font-weight: 300;
    line-height: 19px;
    color: #2C3E50;
    margin-bottom: 33px;
}

.part1 {
    font-family: lato;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
}

.more {
    width: 173.68px;
    height: 50px;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 10%;
}

.view {
    font-size: 16px;
    font-family: lato;
    font-weight: 900;
}

.wrapper {
    display: flex;
    position: absolute;
    left: 377px;
    top: 100px;
}

.texts4 {
    margin-right: 40px;
}